section {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.carousel-container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image-area {
  position: relative;
  /* width: 100%; */
  max-height: 100vh; /* limita à altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-image {
  max-height: 75vh; /* nunca ultrapassa a altura da tela */
  width: auto;        /* largura ajusta automaticamente */
  height: auto;       /* mantém proporção */
  object-fit: contain; /* garante que nada seja cortado */
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.14);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  /* padding: 0 20px; */
  transition: color 0.2s;
  opacity: 0.8;
}

.carousel-btn.left { left: 10px; }
.carousel-btn.right { right: 10px; }
.carousel-btn:hover { color: #e43; }

.carousel-thumbnails {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  justify-content: center;
  overflow-x: auto;
  padding-bottom: 8px;
}

.carousel-thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid transparent;
  transition: border-color 0.2s, opacity 0.2s;
}

.carousel-thumb.active {
  border-color: #e43;
  opacity: 1;
}